.cardlist-top-menu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:green;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.cardlist-canvas {
    display: flex;
    flex-wrap: wrap;
}

.card {
    /* margin: 10px;
    padding: 2px; */
    /* background-color: rgb(77, 77, 77); */
    /* border-radius: 100px; */
    border: 1px solid black;
    /* display:inline-block; */
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}